{% extends "base.html" %}
{% block extraHeader %}

<script>
	function doUpdate() {
		alert("updated!");
	}
	function doClick(a, b) {
		alert("clicked on " + a + "," + b);
	}
</script>

{% endblock %} {% block content %}
<div id="container"></div>
<div id="TheTable">
	<table>
		<th rowspan="2" colspan="2">
		<TH colspan="10">Seattle Seahawks
		<TR>
			<TH>0
			<TH>1
			<TH>2
			<TH>3
			<TH>4
			<TH>5
			<TH>6
			<TH>7
			<TH>8
			<TH>9
		<tr>
			<th rowspan="11" class="verticalTableHeader">Denver Broncos
			<th>0 J&R
			<td id="00" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(0,0)"></td>
			<td id="01" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(0,1)">M&D</td>
			<td id="02" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(0,2)">Bret</td>
			<td id="03" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(0,3)">-</td>
		</tr>
		<tr>
		<tr>
			<th>1
			<td id="10" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(1,0)">Aa</td>
			<td id="11" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(1,1)">-</td>
			<td id="12" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(1,2)">M&D</td>
			<td id="13" onMouseover="this.bgColor='#EEEEEE'"
				onMouseout="this.bgColor='#FFFFFF'" onclick="doClick(1,3)">Bret</td>
		</tr>
		<tr>
			<th>2
		</tr>
		<tr>
			<th>3
		</tr>
		<tr>
			<th>4
		</tr>
		<tr>
			<th>5
		</tr>
		<tr>
			<th>6
		</tr>
		<tr>
			<th>7
		</tr>
		<tr>
			<th>8
		</tr>
		<tr>
			<th>9
		</tr>
	</table>
</div>
<div id="currentPick">Pick = Aaron</div>
<div id="Prizes">
	<br> <br> <input id="clickMe" type="button" value="Update"
		onclick="doUpdate();" /> <br> <br> Prizes:<br> 1st
	quarter - <br> 2nd quarter - <br> 3rd quarter - <br> 4th
	quarter - <br>
</div>

{% endblock %}
