{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if myTeam %}
{% if teamLeader %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
<a href="/team/delete/"><li class="leftBarLink">Delete My Team</li></a>
{% endif %}
{% else %}
<a href="/team/all/"><li class="leftBarLink">Join Team</li></a>
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}
<br>This is the team page!<br>


<br>
Team Leader: {{ myTeam.teamLeader.user.username }}
<br>
Name: {{ myTeam.name }}
<br>
Captain: {{ myTeam.captain }}
<br>
Helm: {{ myTeam.helm }}
<br>
Weapons: {{ myTeam.weapons }}
<br>
Science: {{ myTeam.helm }}
<br>
Engineering: {{ myTeam.helm }}
<br>
Comms: {{ myTeam.helm }}
<br>
<br>
{% if teamLeader %}
{% if requests %}
Requests:
<br>
{% endif %}
{% for r in requests %}
{{ r.user.username }} wants to join.
<form action="/team/allowJoin/" method="post">{% csrf_token %}
<input type="hidden" name="user" value={{ r.user.id }}>
<input type="hidden" name="team" value={{ myTeam.id }}>
<input type="submit" value="Allow"></form>
<br>
{% endfor %}
{% endif %}

{% endblock %}
