{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
<a href="/team/delete/"><li class="leftBarLink">Delete Team</li></a>
<br>
{% endif %}
{% endblock %}

{% block content %}
<br>This is the team page!<br>


<br>
Team Leader: {{ team.teamLeader.user.username }}
<br>
Name: {{ team.name }}
<br>
Captain: {{ team.captain }}
<br>
Helm: {{ team.helm }}
<br>
Weapons: {{ team.weapons }}
<br>
Science: {{ team.helm }}
<br>
Engineering: {{ team.helm }}
<br>
Comms: {{ team.helm }}
<br>

{% endblock %}
