/* CSS Document */


html, body {
    height: 100%;
    font-family:'Helvetica', Arial, Verdana;
}

table
{
border-collapse:collapse;
border: 1px solid black;
float: left;
}
th, td
{
border: 1px solid black;
height: 40px;
width: 40px;
text-align:center; 
vertical-align:middle;
}

.clickable{
	background-color:#FFFFFF;
}
.clickable:hover {
	background-color:#EEEEEE;
}

#currentPick {
	float: left;
	margin-left:20px;
}

#Prizes {
	clear:both;
}

.login {
    background: #eeeeee;
    width: 28em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 3px 3px;
    min-width: 300px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.verticalTableHeader {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);   
}
