{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if noTeam %}
<a href="/team/create/"><li class="leftBarLink">Create Team</li></a>
{% else %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}
Home page for {{ stud.user.username }}.<br><br>
Here you can view a user's info if they have it set to visible.<br><br>
<br>
Team - <a href="/team/details/{{ stud.myTeam.name }}">{{ stud.myTeam.name }}</a>
<br>
Twitch Username - {% if stud.hideTwitch %}*****{% else %}{{ stud.twitchName }}{% endif %}
<br>
Skpye Username - {% if stud.hideSkpye %}*****{% else %}{{ stud.skypeName }}{% endif %}
<br>
email - {% if stud.hideEmail %}*****{% else %}{{ stud.email }}{% endif %}
<br>
{% endblock %}
